@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}


.kanit {
  font-family: 'Kanit', sans-serif;
}

.h-text-center {
  display: inline-block;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background: #FFF;
  margin:20px auto;
  padding: 20px 0;
  border-radius: 5px;
  border: 1px solid #63D471;
  box-shadow: 0px 15px 15px #00000026;
}

.b-center {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.form-body{
  min-height: 100vh;
  flex-grow: 1 1 ;
  display: inline-block;
  display: flex;
  max-width: 100%;  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left top , #0BAB64, #63D471);
}

.form-container{
  max-width: 100%;
  height: 100%;
  margin: 20px 20px;
  background: #FFF;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0px 25px 15px #00000026;
}

.form-container form .user-info {
  display: inline-block;
  text-align: start;
  max-width: 90%;
}

form .user-info .input-box {
  margin: 20px 0;
  width: 100%;
}

.user-info .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-info .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #CCC;
  font-size: 18px;
  transition: all 0.3s ease;
}

.user-info .input-box input:focus,
.user-info .input-box input:valid {
  border-color: #0BAB64;
}



form .button {
  height: 45px;
  margin: 10px;
}

form .button:hover {
  background: #63D471;
}

label {
  font-family: 'Kanit', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1.5px;
}


.outer-container {
  padding: 10px;
  width: 80%;
  margin: 10px 20px;
  flex-direction: column;
  display: inline-flex;
}

.btn {
  margin: 20px;
}

.brd-1 {
  border: 1.5px solid blue;
}

.brd-2 {
  border: 1.5px solid red;
}

.brd-3 {
  border: 1.5px solid rgb(0, 255, 0);
}

.brd-4 {
  border: 1.5px solid orange;
}

.order-button{
  background-color: red;
  display: flex;
  justify-content: center;
}

.selectOverlay {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}

.selectInnerOverlay {
  /* display: block; */
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
  background: #0BAB64;
  border-radius: 10px;
  max-width: 350px;
  height: 250px;
  margin: 10% auto;
}
