#admin_header {
    height: 50px;
    background-color: #FF6124;
}

#admin_footer {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #FF6124;
    top: 100%;
}

#admin_login_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #c3c2c2;
    font-family: 'Jua', sans-serif;
}

#admin_login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#admin_login_form_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 35%;
}

#admin_btn_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.admin_btn {
  padding: 10px;
  width: 80%;
  color: rgb(248, 248, 248);
  border: 1px solid grey;
  background: #543424;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.admin_input_box {
    margin: 10px 0;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#circ {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 25%;
    border-radius: 50px;
}

#admin_h_container {
    width: 100%;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin_h {
    font-size: 30px;
    color: #FFFFFF;
}

